/*****************************************************
*********Following Libraries are added
****************************************************/
pandas = '*'
numpy = '*'
sklearn = '*'
threadpoolctl= '*'
joblib= '*'
AWSLambda-Python38-SciPy1x= '*'
flask= '*'
markupsafe = '*'
jinja2 = '*'
werkzeug= '*'
click= '*'
serverless_wsgi= '*'
flask= '*'
itsdangerous= '*'
jsonpickle='*'